In [2]:
import pandas as pd 
import numpy as np

In [3]:
data_a = pd.read_csv("Resources/Cierre_agricola_mun_2017.csv", encoding='latin-1')
data_a.head()

,Anio,Idestado,Nomestado,Idddr,Nomddr,Idcader,Nomcader,Idmunicipio,Nommunicipio,Idciclo,...,Idcultivo,Nomcultivo,Sembrada,Cosechada,Siniestrada,Volumenproduccion,Rendimiento,Precio,Valorproduccion,Unnamed: 24
0,2017,16,Michoacán,87,Zamora,3,Reyes Los,75,Los Reyes,3,...,9310000,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,NaN
1,2017,16,Michoacán,86,Uruapan,1,Parangaricutiro,83,Tancítaro,3,...,5060000,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,NaN
2,2017,16,Michoacán,87,Zamora,1,Zamora,108,Zamora,1,...,6820000,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,NaN
3,2017,26,Sonora,139,Caborca,2,Caborca,17,Caborca,3,...,6650000,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,NaN
4,2017,26,Sonora,144,Hermosillo,1,Carbó,30,Hermosillo,3,...,9130000,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,NaN

In [4]:
# Check Dataset Size
data_a.shape

(36912, 25)

In [5]:
# Check datatypes
data_a.dtypes

Anio                    int64
Idestado                int64
Nomestado              object
Idddr                   int64
Nomddr                 object
Idcader                 int64
Nomcader               object
Idmunicipio             int64
Nommunicipio           object
Idciclo                 int64
Nomcicloproductivo     object
Idmodalidad             int64
Nommodalidad           object
Idunidadmedida          int64
Nomunidad              object
Idcultivo               int64
Nomcultivo             object
Sembrada              float64
Cosechada             float64
Siniestrada           float64
Volumenproduccion     float64
Rendimiento           float64
Precio                float64
Valorproduccion       float64
Unnamed: 24           float64
dtype: object

In [6]:
# Check for nulls
data_a.isnull().sum()

Anio                      0
Idestado                  0
Nomestado                 0
Idddr                     0
Nomddr                    0
Idcader                   0
Nomcader                  0
Idmunicipio               0
Nommunicipio              0
Idciclo                   0
Nomcicloproductivo        0
Idmodalidad               0
Nommodalidad              0
Idunidadmedida            0
Nomunidad                 0
Idcultivo                 0
Nomcultivo                0
Sembrada                  0
Cosechada                 0
Siniestrada               0
Volumenproduccion         0
Rendimiento               0
Precio                    0
Valorproduccion           0
Unnamed: 24           36912
dtype: int64

In [7]:
# Check columns names & index
for i, v in enumerate(data_a):
    print(i,v)

0 Anio
1 Idestado
2 Nomestado
3 Idddr
4 Nomddr
5 Idcader
6 Nomcader
7 Idmunicipio
8 Nommunicipio
9 Idciclo
10 Nomcicloproductivo
11 Idmodalidad
12 Nommodalidad
13 Idunidadmedida
14 Nomunidad
15 Idcultivo
16 Nomcultivo
17 Sembrada
18 Cosechada
19 Siniestrada
20 Volumenproduccion
21 Rendimiento
22 Precio
23 Valorproduccion
24 Unnamed: 24

In [8]:
# Drop Columns
data_a = data_a.drop(data_a.columns[[3,4,5, 6, 9, 11, 13, 15, 24]], axis=1)

In [9]:
# Display Data
data_a

,Anio,Idestado,Nomestado,Idmunicipio,Nommunicipio,Nomcicloproductivo,Nommodalidad,Nomunidad,Nomcultivo,Sembrada,Cosechada,Siniestrada,Volumenproduccion,Rendimiento,Precio,Valorproduccion
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00

In [10]:
# Calculate percentage of cosecha vs sembrada
data_a['Sembradavscosecha'] =  data_a['Cosechada'] / data_a['Sembrada']
data_a

,Anio,Idestado,Nomestado,Idmunicipio,Nommunicipio,Nomcicloproductivo,Nommodalidad,Nomunidad,Nomcultivo,Sembrada,Cosechada,Siniestrada,Volumenproduccion,Rendimiento,Precio,Valorproduccion,Sembradavscosecha
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,0.994497
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,0.969234
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,1.000000
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,1.000000
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,0.931422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000

In [11]:
# Profit by Hectare
data_a['Valorxhectarea'] = data_a['Valorproduccion'] / data_a['Cosechada']
data_a

,Anio,Idestado,Nomestado,Idmunicipio,Nommunicipio,Nomcicloproductivo,Nommodalidad,Nomunidad,Nomcultivo,Sembrada,Cosechada,Siniestrada,Volumenproduccion,Rendimiento,Precio,Valorproduccion,Sembradavscosecha,Valorxhectarea
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,0.994497,1.082497e+06
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,0.969234,2.069630e+05
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,1.000000,1.246525e+06
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,1.000000,4.119305e+05
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,0.931422,3.549266e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN

In [12]:
# Fill NAN values with zero
data_a = data_a.fillna(0)

In [13]:
# Rename columns
data_a.rename(columns = {"Idestado":"Idest", "Idmunicipio":"Idmuni","Nomestado": "Estado", 
                         "Nommunicipio": "Municipio", "Nomcicloproductivo":"Cicloproductivo", 
                         "Nommodalidad": "Modalidad","Nomunidad":"Unidad", 
                         "Nomcultivo":"Cultivo"}, inplace=True)

In [14]:
# Convert to lower case the column names
data_a.columns = data_a.columns.str.lower()

In [15]:
data_a

,anio,idest,estado,idmuni,municipio,cicloproductivo,modalidad,unidad,cultivo,sembrada,cosechada,siniestrada,volumenproduccion,rendimiento,precio,valorproduccion,sembradavscosecha,valorxhectarea
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,0.994497,1.082497e+06
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,0.969234,2.069630e+05
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,1.000000,1.246525e+06
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,1.000000,4.119305e+05
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,0.931422,3.549266e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00

In [16]:
#Import center coordinates for each Municipio
data_coords = pd.read_csv("Resources/coordenadas.csv", encoding="UTF-8")
data_coords.head(10)

/Users/leonidesguerra/opt/miniconda3/envs/pythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CVE_ENT,NOM_ENT,NOM_ABR,CVE_MUN,NOM_MUN,CVE_LOC,NOM_LOC,AMBITO,LAT_DEC,LON_DEC,ALTITUD,CVE_CARTA
0,1,Aguascalientes,Ags.,1,Aguascalientes,1,Aguascalientes,U,21.879823,-102.296047,1878,F13D19
1,1,Aguascalientes,Ags.,1,Aguascalientes,94,Granja Adelita,R,21.871875,-102.373531,1902,F13D18
2,1,Aguascalientes,Ags.,1,Aguascalientes,96,Agua Azul,R,21.883756,-102.357122,1861,F13D18
3,1,Aguascalientes,Ags.,1,Aguascalientes,100,Rancho Alegre,R,21.854599,-102.372746,1879,F13D18
4,1,Aguascalientes,Ags.,1,Aguascalientes,102,Los Arbolitos [Rancho],R,21.780181,-102.357295,1861,F13D18
5,1,Aguascalientes,Ags.,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),R,21.945068,-102.191921,1989,F13D19
6,1,Aguascalientes,Ags.,1,Aguascalientes,106,Arellano,R,21.801773,-102.273955,1892,F13D19
7,1,Aguascalientes,Ags.,1,Aguascalientes,112,Bajío los Vázquez,R,21.747494,-102.124817,1971,F13D29
8,1,Aguascalientes,Ags.,1,Aguascalientes,113,Bajío de Montoro,R,21.757883,-102.290131,1871,F13D19
9,1,Aguascalientes,Ags.,1,Aguascalientes,114,Residencial San Nicolás [Baños la Cantera],R,21.849498,-102.355422,1858,F13D18

In [17]:
data_coords_mun = data_coords[data_coords["CVE_LOC"] == 1]
data_coords_mun

,CVE_ENT,NOM_ENT,NOM_ABR,CVE_MUN,NOM_MUN,CVE_LOC,NOM_LOC,AMBITO,LAT_DEC,LON_DEC,ALTITUD,CVE_CARTA
0,1,Aguascalientes,Ags.,1,Aguascalientes,1,Aguascalientes,U,21.879823,-102.296047,1878,F13D19
756,1,Aguascalientes,Ags.,2,Asientos,1,Asientos,U,22.238317,-102.089275,2168,F13B89
994,1,Aguascalientes,Ags.,3,Calvillo,1,Calvillo,U,21.846907,-102.718751,1632,F13D17
1302,1,Aguascalientes,Ags.,4,Cosío,1,Cosío,U,22.366409,-102.300044,2004,F13B79
1389,1,Aguascalientes,Ags.,5,Jesús María,1,Jesús María,U,21.961273,-102.343416,1878,F13D18
...,...,...,...,...,...,...,...,...,...,...,...,...
303788,32,Zacatecas,Zac.,54,Villa Hidalgo,1,Villa Hidalgo,U,22.357088,-101.712599,2161,F14A71
303855,32,Zacatecas,Zac.,55,Villanueva,1,Villanueva,U,22.354259,-102.883726,1899,F13B77
304033,32,Zacatecas,Zac.,56,Zacatecas,1,Zacatecas,U,22.776096,-102.571836,2423,F13B58
304136,32,Zacatecas,Zac.,57,Trancoso,1,Trancoso,U,22.735389,-102.366038,2192,F13B68
304179,32,Zacatecas,Zac.,58,Santa María de la Paz,1,Santa María de la Paz,U,21.512178,-103.407042,1924,F13D25

In [18]:
# Check datatypes
data_coords.dtypes

CVE_ENT        int64
NOM_ENT       object
NOM_ABR       object
CVE_MUN        int64
NOM_MUN       object
CVE_LOC        int64
NOM_LOC       object
AMBITO        object
LAT_DEC      float64
LON_DEC      float64
ALTITUD       object
CVE_CARTA     object
dtype: object

In [19]:
# Drop Columns
data_coords_mun = data_coords_mun.drop(data_coords_mun.columns[[0,2,3,5,6,7,11]], axis=1)

In [20]:
data_coords_mun.head(10)

             NOM_ENT              NOM_MUN    LAT_DEC     LON_DEC ALTITUD
0     Aguascalientes       Aguascalientes  21.879823 -102.296047    1878
756   Aguascalientes             Asientos  22.238317 -102.089275    2168
994   Aguascalientes             Calvillo  21.846907 -102.718751    1632
1302  Aguascalientes                Cosío  22.366409 -102.300044    2004
1389  Aguascalientes          Jesús María  21.961273 -102.343416    1878
1720  Aguascalientes  Pabellón de Arteaga  22.149202 -102.276542    1912
2003  Aguascalientes      Rincón de Romos  22.229233 -102.323069    1952
2339  Aguascalientes   San José de Gracia  22.150216 -102.415634    2052
2466  Aguascalientes             Tepezalá  22.224228 -102.166971    2101
2605  Aguascalientes             El Llano  21.918869 -101.965307    2031

In [21]:
data_coords_mun.groupby(['NOM_ENT','NOM_MUN'])['LAT_DEC','LON_DEC'].mean().reset_index()

/Users/leonidesguerra/opt/miniconda3/envs/pythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

             NOM_ENT                NOM_MUN    LAT_DEC     LON_DEC
0     Aguascalientes         Aguascalientes  21.879823 -102.296047
1     Aguascalientes               Asientos  22.238317 -102.089275
2     Aguascalientes               Calvillo  21.846907 -102.718751
3     Aguascalientes                  Cosío  22.366409 -102.300044
4     Aguascalientes               El Llano  21.918869 -101.965307
...              ...                    ...        ...         ...
2454       Zacatecas  Villa González Ortega  22.512992 -101.913761
2455       Zacatecas          Villa Hidalgo  22.357088 -101.712599
2456       Zacatecas           Villa de Cos  23.293893 -102.346888
2457       Zacatecas             Villanueva  22.354259 -102.883726
2458       Zacatecas              Zacatecas  22.776096 -102.571836

[2459 rows x 4 columns]

In [22]:
data_coords_mun

               NOM_ENT                NOM_MUN    LAT_DEC     LON_DEC ALTITUD
0       Aguascalientes         Aguascalientes  21.879823 -102.296047    1878
756     Aguascalientes               Asientos  22.238317 -102.089275    2168
994     Aguascalientes               Calvillo  21.846907 -102.718751    1632
1302    Aguascalientes                  Cosío  22.366409 -102.300044    2004
1389    Aguascalientes            Jesús María  21.961273 -102.343416    1878
...                ...                    ...        ...         ...     ...
303788       Zacatecas          Villa Hidalgo  22.357088 -101.712599    2161
303855       Zacatecas             Villanueva  22.354259 -102.883726    1899
304033       Zacatecas              Zacatecas  22.776096 -102.571836    2423
304136       Zacatecas               Trancoso  22.735389 -102.366038    2192
304179       Zacatecas  Santa María de la Paz  21.512178 -103.407042    1924

[2461 rows x 5 columns]

In [23]:
data_coords_mun.NOM_ENT[data_coords_mun.NOM_ENT=="Michoacán de Ocampo"] = "Michoacán"
data_coords_mun.NOM_ENT[data_coords_mun.NOM_ENT=="Coahuila de Zaragoza"] = "Coahuila"
data_coords_mun.NOM_ENT[data_coords_mun.NOM_ENT=="Veracruz de Ignacio de la Llave"] = "Veracruz"
data_coords_mun

/Users/leonidesguerra/opt/miniconda3/envs/pythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/leonidesguerra/opt/miniconda3/envs/pythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/leonidesguerra/opt/miniconda3/envs/pythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

               NOM_ENT                NOM_MUN    LAT_DEC     LON_DEC ALTITUD
0       Aguascalientes         Aguascalientes  21.879823 -102.296047    1878
756     Aguascalientes               Asientos  22.238317 -102.089275    2168
994     Aguascalientes               Calvillo  21.846907 -102.718751    1632
1302    Aguascalientes                  Cosío  22.366409 -102.300044    2004
1389    Aguascalientes            Jesús María  21.961273 -102.343416    1878
...                ...                    ...        ...         ...     ...
303788       Zacatecas          Villa Hidalgo  22.357088 -101.712599    2161
303855       Zacatecas             Villanueva  22.354259 -102.883726    1899
304033       Zacatecas              Zacatecas  22.776096 -102.571836    2423
304136       Zacatecas               Trancoso  22.735389 -102.366038    2192
304179       Zacatecas  Santa María de la Paz  21.512178 -103.407042    1924

[2461 rows x 5 columns]

In [24]:
# Rename columns
data_coords_mun.rename(columns = {"NOM_ENT":"estado", "NOM_MUN":"municipio","LAT_DEC": "latitud", 
                         "LON_DEC": "longitud", "ALTITUD":"altitud"}, inplace=True)

In [25]:
data_coords_mun

                estado              municipio    latitud    longitud altitud
0       Aguascalientes         Aguascalientes  21.879823 -102.296047    1878
756     Aguascalientes               Asientos  22.238317 -102.089275    2168
994     Aguascalientes               Calvillo  21.846907 -102.718751    1632
1302    Aguascalientes                  Cosío  22.366409 -102.300044    2004
1389    Aguascalientes            Jesús María  21.961273 -102.343416    1878
...                ...                    ...        ...         ...     ...
303788       Zacatecas          Villa Hidalgo  22.357088 -101.712599    2161
303855       Zacatecas             Villanueva  22.354259 -102.883726    1899
304033       Zacatecas              Zacatecas  22.776096 -102.571836    2423
304136       Zacatecas               Trancoso  22.735389 -102.366038    2192
304179       Zacatecas  Santa María de la Paz  21.512178 -103.407042    1924

[2461 rows x 5 columns]

In [26]:
data_a

,anio,idest,estado,idmuni,municipio,cicloproductivo,modalidad,unidad,cultivo,sembrada,cosechada,siniestrada,volumenproduccion,rendimiento,precio,valorproduccion,sembradavscosecha,valorxhectarea
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,0.994497,1.082497e+06
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,0.969234,2.069630e+05
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,1.000000,1.246525e+06
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,1.000000,4.119305e+05
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,0.931422,3.549266e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00

In [27]:
# Merge
data_complete = pd.merge(data_a, data_coords_mun, on=['estado', 'municipio'], how='left') 
data_complete

,anio,idest,estado,idmuni,municipio,cicloproductivo,modalidad,unidad,cultivo,sembrada,...,siniestrada,volumenproduccion,rendimiento,precio,valorproduccion,sembradavscosecha,valorxhectarea,latitud,longitud,altitud
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,...,0.0,131465.2,25.98,41664.53,5.477436e+09,0.994497,1.082497e+06,19.588974,-102.474679,1309
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,...,0.0,179436.0,9.49,21801.73,3.912014e+09,0.969234,2.069630e+05,19.337498,-102.363034,2080
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,...,0.0,174952.2,56.97,21880.71,3.828078e+09,1.000000,1.246525e+06,19.983579,-102.285958,1562
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,...,0.0,86755.2,10.82,38085.26,3.304095e+09,1.000000,4.119305e+05,30.713811,-112.147711,283
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,...,0.0,156183.0,17.57,20201.20,3.155084e+09,0.931422,3.549266e+05,29.074900,-110.958535,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36921,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,...,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00,22.649403,-102.989924,1999
36922,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,...,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00,22.649403,-102.989924,1999
36923,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,...,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00,22.302785,-103.561643,1756
36924,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,...,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00,22.461265,-103.147898,1925
36925,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,...,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00,22.354259,-102.883726,1899

In [28]:
data_complete.to_csv("Resources/clean_dataset_2017.csv",encoding='latin-1', index=False)

In [32]:
json_path="/Resources/mexican_states.json"
json_data=pd.read_json(json_path)

ValueError: Expected object or value

## Connect to the database

In [28]:
# Import psycopg2 which is the PostgreSQL adapter for Python
# $ pip install psycopg2-binary
# documentation https://www.psycopg.org/docs/install.html#install-from-source

In [1]:
from config import DATABASE_URI

In [29]:
# Import packages
from sqlalchemy import create_engine
import psycopg2

In [30]:
# Connection params 
# DATABASE_URI = 'postgres+psycopg2://postgres:postgres@localhost:5432/Agriculture_JB'

In [31]:
# create engine
engine = create_engine(DATABASE_URI)

In [32]:
# convert the dataframe into a sql table with pd.to_sql function
data_complete.to_sql(con= engine, name='agr2017', index=False, if_exists = "replace")